# Python
__pycache__/
*.pyc
.venv/
venv/

# Data
*.csv

# Node
node_modules/
.next/

# Environment
.env
.env.local
*.env.local
*.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*